{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id alias modi accusantium, aliquam nisi eveniet nulla
    beatae deleniti! Vero praesentium recusandae ullam, nihil eius voluptatem reiciendis fugiat consequuntur asperiores
    reprehenderit.
    Soluta, eveniet magnam! Ratione, nemo ex quod neque iure amet animi? Officiis accusamus sunt sequi iusto deleniti
    tempore sed tenetur voluptatum. Eligendi ducimus sapiente numquam repudiandae suscipit totam ex repellendus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id alias modi accusantium, aliquam nisi eveniet nulla
    beatae deleniti! Vero praesentium recusandae ullam, nihil eius voluptatem reiciendis fugiat consequuntur asperiores
    reprehenderit.
    Soluta, eveniet magnam! Ratione, nemo ex quod neque iure amet animi? Officiis accusamus sunt sequi iusto deleniti
    tempore sed tenetur voluptatum. Eligendi ducimus sapiente numquam repudiandae suscipit totam ex repellendus.</p>


    {% endblock %}