{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>titre de l'article</h2>
    <div class="metadata">Ecrit le 10/05/2021 à 19:00 dans la catégorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aut asperiores nulla unde, fugit
            cumque.</p>
        <p>Quisquam repudiandae nihil nemo aspernatur possimus, deserunt, aliquid excepturi numquam beatae adipisci
            deleniti, hic alias?</p>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate labore libero possimus dolor ipsum
                assumenda voluptatum, cumque quibusdam laboriosam distinctio eum qui placeat quam in nostrum tempora
                beatae iste veritatis? Expedita magnam ab laborum est voluptatem corrupti cumque deleniti nostrum,
                quaerat voluptates nam eaque, nisi odio repudiandae ex itaque modi.Necessitatibus velit
                dolores nulla impedit praesentium ut dignissimos laudantium totam excepturi eveniet qui quaerat,
                explicabo nihil perferendis minus sint ratione quae ad fugiat.</p> <p> Enim quasi tenetur dolores! Consequuntur
                voluptatibus modi, magnam nostrum nam tempora expedita voluptate obcaecati vero provident exercitationem
                quis, beatae ut libero iure aliquam magni praesentium eveniet culpa?</p>
    </div>
</article>

{% endblock %}